/*绝对定位*/
@mixin abs-pos( $top: auto, $right: auto, $bottom: auto, $left: auto ){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
}
@mixin fix-pos( $top: auto, $right: auto, $bottom: auto, $left: auto ){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: fixed;
}
/*居中对齐*/
@mixin align-center($var){
    display:flex;
    justify-content:$var;
    align-items:center;
}
/*超出文本显示省略号
* */
@mixin text-overflow(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break:break-all;
}
@mixin flex {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
// 多行超出文本显示省略号
@mixin text-overflow-line($number){
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$number;
    overflow:hidden;
    word-break:break-all; 
    white-space:normal;
}
// 根据dpr显示2x图/3x图
@mixin bg-image($url){
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image: url($url + "@3x.png");
    }
}
