// 背景颜色
$main-bg: #f5f5f5;
$white: #fff;

// border
$border-color: #eee;
$border-radius: 10px;
$border-line: #d8d8d8;

$icon-color: #80828d;

// 间距
$padding-aligin: 20px;
$padding-item: 10px;

//字体相关
$primary: #07c160;
$shallow: #42bf6c;
$dark: #666;

$header-fontsize:18px;